@font-face {
    font-family: "iA Writer Quattro S";
    src: url("/fonts/iAWriterQuattroS-Regular.woff2"),
        url("/fonts/iAWriterQuattroS-Regular.woff");
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("/fonts/iAWriterQuattroS-Italic.woff2"),
        url("/fonts/iAWriterQuattroS-Italic.woff");
    font-style: italic;
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("/fonts/iAWriterQuattroS-Bold.woff2"),
        url("/fonts/iAWriterQuattroS-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "iA Writer Quattro S";
    src: url("/fonts/iAWriterQuattroS-BoldItalic.woff2"),
        url("/fonts/iAWriterQuattroS-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@tailwind base;

@layer base {
    [aria-current="page"] {
        @apply text-black dark:text-white bg-gray-200 dark:bg-gray-700 font-bold !important;
    }
    [aria-current="false"] {
    }
    html.dark .light-mode-image {
        display: none;
    }
    html.light .dark-mode-image {
        display: none;
    }
    p.large {
        @apply mb-4 text-xl leading-loose sm:text-xl sm:mb-6;
    }
    .book-image {
        position: relative;
        height: max-content;
        box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
    }
    .book-image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 3px;
        bottom: 0;
        width: 3px;
        background: rgba(0, 0, 0, 0.06);
        box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
    }
    .book:hover .book-image-container {
        @apply bg-blue-100 dark:bg-gray-700 transition !important;
    }
    .block-link {
        @apply flex w-max items-center text-sm font-bold text-blue-600 dark:text-purple-400 hover:bg-gray-100 transition dark:hover:bg-gray-700 rounded -mx-1 -my-0.5 px-1 py-0.5 hover:no-underline focus:outline-none focus:ring focus:ring-orange-500;
    }
    a {
        @apply focus:outline-none focus:ring focus:ring-orange-500;
    }
}

@tailwind components;

@layer components {
    [role="switch"] .on {
        display: none;
    }
    [role="switch"] .off {
        display: none;
    }
}

@tailwind utilities;
