@font-face {
    font-family: "Untitled";
    font-weight: 400;
    src: url("/fonts/untitled-sans-regular.woff2");
}

@font-face {
    font-family: "Untitled";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/untitled-sans-regular-italic.woff2");
}

@font-face {
    font-family: "Untitled";
    font-weight: 600;
    src: url("/fonts/untitled-sans-medium.woff2");
}

@font-face {
    font-family: "Untitled";
    font-weight: 700;
    src: url("/fonts/untitled-sans-bold.woff2");
}

@tailwind base;

@layer base {
    [aria-current="page"] {
        @apply text-stone-800 bg-orange-lightest font-semibold dark:bg-gray-800 dark:text-white !important;
    }
    [aria-current="false"] {
        @apply text-stone-800 bg-white dark:bg-gray-900;
    }
    @media (prefers-color-scheme: dark) {
        .light-mode-image {
            display: none;
        }
    }
    @media (prefers-color-scheme: light) {
        .dark-mode-image {
            display: none;
        }
    }
    p.large {
        @apply mb-4 text-xl leading-loose sm:text-xl sm:mb-6;
    }
    .book-image {
        position: relative;
        height: max-content;
        box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
    }
    .book-image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 3px;
        bottom: 0;
        width: 3px;
        background: rgba(0, 0, 0, 0.06);
        box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
    }
    .book:hover .book-image-container {
        @apply bg-blue-100 dark:bg-gray-700 transition !important;
    }
    .block-link {
        @apply flex w-max items-center text-blue-600 dark:text-blue-400 dark:hover:text-blue-300 hover:bg-orange-lightest transition hover:text-stone-800 dark:hover:bg-gray-800 rounded -mx-1 -my-0.5 px-1 py-0.5 hover:no-underline focus:outline-none focus:ring focus:ring-orange;
    }
}

@tailwind components;

@tailwind utilities;
